{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Users</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>

<div style="margin: 20px;">
    <div>
        <button class="admin" onclick="location.href='/admin/'">Admin Page</button>
        <h2>Register New User</h2> 
        <form action="/create" method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="tts_enabled">TTS Enabled:</label>
                <input type="checkbox" name="tts_enabled">
            </div>           
            <input class="register" type="submit" value="Register">
        </form>
    </div>

    <h2>List of Registered Users</h2>
    <table border="1" cellpadding="10" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>TTS Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.tts_enabled }}</td>
                <td>
                    <button class="edit" onclick="location.href='/{{ user.id }}/update'">Edit</button>
                    <button class="delete" onclick="location.href='/{{ user.id }}/delete'">Delete</button>
                    <button class="csv" onclick="location.href='/{{ user.id }}/upload-csv'">Add CSV</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
</div>

</body>
</html>
